body {
  background-color: black;
}

.App {
  text-align: center;
  width: 20em;
  margin-left: 40vw; /* DEV */
  /* padding: 1.5em 1.5em .2em 1.5em; */
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
}

header.secondary {
  font-size: 1em;
  font-weight: 400;
}

svg {
  fill: currentColor;
}

.footer {
  text-align: right;
  margin: 1em 0 0 0;
  font-size: .7em;
  color: #1d1d1d;
}