body {
  background-color: black;
}

.App {
  text-align: center;
  width: 20em;
  margin-left: 40vw; /* DEV */
  padding: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fcfcfc;
}

header {
  font-size: 2em;
}

svg {
  fill: currentColor;
}