body {
  background-color: black;
  --highlight-color: #ffa724;
}

.App {
  text-align: center;
  width: 20em;
  margin: auto; /* DEV */
  /* padding: 1.5em 1.5em .2em 1.5em; */
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
}

section.page {
  margin-top: 1.5em;
}

header.primary {
  font-size: 1.3em;
  font-weight: 600;
}

header.secondary {
  font-size: 1.1em;
  font-weight: 400;
}

svg {
  fill: currentColor;
}

.footer {
  text-align: right;
  padding: .5em .5em .5em 0;
  font-size: .7em;
  color: #1d1d1d;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}