.DatePicker {
  display: inline-block;
}

.dateInp {
  width: 1.5em;
  margin-right: .2em;
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--highlight-color);
  background: inherit;
  font-family: inherit;
  font-size: 1em;
}

.dateInp:hover {
  cursor: pointer;
}

.dateInp:focus {
  outline: none;
  background-color: white;
}

.dateInp:last-of-type {
  margin-left: .2em;
}

.DatePicker header.secondary {
  margin-top: .3em;
  font-size: 1em;
}