.Info > div {
  margin: 1em 0 1em 0;
}

.Info .secondary {
  font-size: 1.2em;
}


.link input {
  width: 85%;
  padding: .5em;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--highlight-color);
  border-radius: 4px;
  background-color: white;
}

.link input:focus {
  outline: none;
  border: 1px solid var(--highlight-color);
}


.notesText {
  font-family: inherit;
  width: 85%;
  height: 5em;
  padding: .5em;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--highlight-color);
  resize: none;

  overflow-y: overlay;
  overflow-x: hidden;
}

.notesText::-webkit-scrollbar {
  background-color: inherit;
  border-bottom: 1px solid var(--highlight-color);
  width: .5em;
}

.notesText::-webkit-scrollbar-thumb {
  background-color: var(--highlight-color);
  width: .1em;
  border-radius: 1em;
}

.notesText:focus {
  outline: none;
  border: 1px solid var(--highlight-color);
}


.saveInfo {
  display: inline-block;
  padding: .7em 1.4em;
  border-radius: .15em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  margin-top: 1em;
  background-color: var(--highlight-color);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -.6em 0 -.35em rgba(0,0,0,0.17);
  font-weight: 600;
  text-align: center;
  position: relative;
  border: none;
}

.saveInfo:hover {
  cursor: pointer;
}

.saveInfo:focus {
  outline: none;
}

.saveInfo:active {
  top: .1em;
  box-shadow: none;
}