.Item {
  background-color: #fea116;
  color: white;
  padding: .5em;
  text-align: right;

  display: grid;
  grid-template-columns: 0.2fr 1.6fr 0.2fr;
  grid-template-rows: 1fr;
  gap: 1em 1em;
  grid-template-areas: '. . .';
}

.Item:not(:last-of-type) {
  border-bottom: 1px solid #808080;
}

.Item a {
  text-decoration: none;
  color: inherit;
  font-size: 1em;
  font-weight: 700;
  overflow: hidden;
}

.Item a:hover {
  text-decoration: underline;
}

.infoContainer {
  display: flex;
  align-items: center;
}

.info {
  height: 1.5rem;
}

.info:hover {
  cursor: pointer;
}

.dateContainer {
  font-size: .8em;
}

.checkContainer {
  display: flex;
  align-items: center;
}

.check {
  color: #009700;
  height: 1.5rem;
}

.check:hover {
  cursor: pointer;
}

.Item.done {

}