.List {
  margin-top: 2em;
}

.List .itemContainer {
  max-height: 13.5em;
  overflow-y: overlay;
  overflow-x: hidden;
}

.itemContainer::-webkit-scrollbar {
  background-color: var(--highlight-color);
  width: .5em;
}
.itemContainer::-webkit-scrollbar-thumb {
  background-color: #666B7A;
  width: .1em;
  border-radius: 1em;
}
