.Highlight {
  margin-top: 1.5em;
}

.highlightBox {
  margin-top: .5em;
  box-shadow: 0 0 10px 2px var(--highlight-color);
}

.addOne {
  display: inline-block;
  padding: .7em 1.4em;
  border-radius: .15em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  margin-top: 1em;
  background-color: var(--highlight-color);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -.6em 0 -.35em rgba(0,0,0,0.17);
  text-align: center;
  position: relative;
  border: none;
}

.addOne:active {
  top: .1em;
  box-shadow: none;
}

.addOne:focus {
  outline: none;
}

.addOne:hover {
  cursor: pointer;
}

.currentReminders {
  margin-top: 2em;
}

.currentReminders .secondary {
  margin-bottom: .5em;
}