.Navbar {
  background-color: #222222;
}

header.title {
  font-size: 1.5em;
  color: #fff;
  padding: .5em;
}

.navContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: '. . .';
  margin-top: .7em;
}

.navItem {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em;
  background-color: inherit;
  border: none;
  padding-bottom: 0px;
}

.navItem::after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s, background-color .5s;
}

.navItem:hover {
  cursor: pointer;
}

.navItem:hover::after {
  width: 100%;
  background: var(--highlight-color);
}

.navItem.active {
  color: #fff;
}

.navItem.active::after {
  width: 100%;
  background: var(--highlight-color);

}

.navItem:focus {
  outline: none;
}